n8n-workflows/workflow-all-tiers.json
{
  "name": "Job Search Automation - All Tiers (Parallel)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-e0f1a2b3c4d5",
      "name": "Start Job Application",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {}
    },
    {
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-f1a2b3c4d5e6",
      "name": "Set Job Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        500,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-01",
              "name": "job_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "assign-02",
              "name": "job_description",
              "value": "Enter full job description here",
              "type": "string"
            },
            {
              "id": "assign-03",
              "name": "company_name",
              "value": "Company Name",
              "type": "string"
            },
            {
              "id": "assign-04",
              "name": "job_title",
              "value": "Job Title",
              "type": "string"
            },
            {
              "id": "assign-05",
              "name": "location",
              "value": "",
              "type": "string"
            },
            {
              "id": "assign-06",
              "name": "user_skills",
              "value": "",
              "type": "string"
            },
            {
              "id": "assign-07",
              "name": "tech_stack",
              "value": "React, Node.js, TypeScript, PostgreSQL",
              "type": "string"
            },
            {
              "id": "assign-08",
              "name": "job_requirements",
              "value": "",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-a2b3c4d5e6f7",
      "name": "Parse Job Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.item.json;\nconst companyName = item.company_name || '';\nconst jobTitle = item.job_title || '';\nconst location = item.location || '';\nconst jobUrl = item.job_url || '';\nconst jobDescription = item.job_description || '';\nconst userSkills = item.user_skills || '';\nconst techStack = item.tech_stack || '';\nconst jobRequirements = item.job_requirements || '';\n\nconst id = 'app-' + Date.now() + '-' + Math.random().toString(36).substring(2, 11);\n\nconst now = new Date();\nconst year = now.getFullYear().toString();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nconst appliedDate = year + '-' + month + '-' + day;\n\nconst folderName = day + '_' + companyName.replace(/[^a-zA-Z0-9]/g, '_') + '_' + jobTitle.replace(/[^a-zA-Z0-9]/g, '_');\n\nreturn [{\n  json: {\n    application_id: id,\n    company_name: companyName,\n    job_title: jobTitle,\n    location: location,\n    job_url: jobUrl,\n    job_description: jobDescription,\n    user_skills: userSkills,\n    tech_stack: techStack,\n    job_requirements: jobRequirements,\n    applied_date: appliedDate,\n    year: year,\n    month: month,\n    day: day,\n    folder_name: folderName\n  }\n}];\n"
      }
    },
    {
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-b3c4d5e6f7a8",
      "name": "Tier 1 - Core Application",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        100
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const jobData = $input.item.json;\nconst safe = (val) => (val == null ? '' : String(val));\n\nasync function callOllama(prompt) {\n  for (let attempt = 1; attempt <= 3; attempt++) {\n    try {\n      const resp = await $helpers.httpRequest({\n        method: 'POST',\n        url: 'http://ollama:11434/api/generate',\n        headers: { 'Content-Type': 'application/json' },\n        body: { model: 'llama3.2', prompt: prompt, stream: false },\n      });\n      return (resp && resp.response) ? resp.response : '[No response]';\n    } catch (e) {\n      if (attempt === 3) return '[Ollama Error: ' + e.message + ']';\n      await new Promise(r => setTimeout(r, Math.pow(2, attempt) * 1000));\n    }\n  }\n}\n\n// CHANGE #5: Senior Architect resume prompt (exact text, string concatenation only)\nconst resumePrompt =\n  'You are a Senior Software Architect and Technical Hiring Manager with 15+ years in the Israeli high-tech industry ' +\n  '(Google, Palo Alto Networks, Wix, SailPoint, and high-growth unicorns). ' +\n  'You have zero tolerance for messy code and \"student-style\" habits. You\\'ve reviewed thousands of CVs.\\n\\n' +\n  'Your Task - Transform Resume into Production-Grade Portfolio:\\n\\n' +\n  '1. The \"Why\" Analysis: For each project/skill, explain the PROFESSIONAL REASONING:\\n' +\n  '   - Why did I choose this specific architecture/language/library?\\n' +\n  '   - What business problem did it solve?\\n' +\n  '   - What trade-offs did I consider?\\n\\n' +\n  '2. The \\'Brutal\\' Truth Assessment:\\n' +\n  '   - First impression: Does this look like a \\'generic student\\' or a \\'high-potential engineer\\'?\\n' +\n  '   - Be direct, professional, and witty - like a mentor who wants success but won\\'t sugarcoat\\n' +\n  '   - Specific feedback on what screams \"junior\" vs. what screams \"senior\"\\n\\n' +\n  '3. Identify & Remove Fluff:\\n' +\n  '   - What sections/achievements don\\'t belong on a Senior Engineer\\'s resume?\\n' +\n  '   - What\\'s weak or generic?\\n' +\n  '   - What should stay because it\\'s impressive?\\n\\n' +\n  '4. Tech Stack Reframing (Student -> Senior):\\n' +\n  '   - Instead of: \"Built a todo app with React\"\\n' +\n  '   - Reframe as: \"Architected a real-time collaborative task management system with optimistic updates, ' +\n  'Redux state management, TypeScript strict mode, and implemented custom hooks for reusable state logic\"\\n' +\n  '   - For EACH project: provide a \"before/after\" reframing\\n\\n' +\n  '5. ATS & AI Scanner Optimization - CRITICAL:\\n' +\n  '   - This CV will be scanned by automated AI systems (like those used by Israeli tech companies)\\n' +\n  '   - Flag EVERY missing keyword that\\'s critical for the market:\\n' +\n  '     * Cloud platforms: AWS (EC2, S3, Lambda, RDS), GCP (Compute Engine, Cloud Run, Firestore), Azure\\n' +\n  '     * Containerization: Docker, Kubernetes (K8s), Helm\\n' +\n  '     * CI/CD: GitHub Actions, GitLab CI, Jenkins, CircleCI\\n' +\n  '     * Architecture: Microservices, distributed systems, system design, scalability, load balancing\\n' +\n  '     * Databases: SQL optimization, NoSQL, caching (Redis), database design\\n' +\n  '     * Testing: Unit tests (Jest, Vitest), Integration tests, E2E tests (Cypress, Playwright), Test coverage\\n' +\n  '     * Code quality: Linting (ESLint), Type safety (TypeScript), Code reviews, SOLID principles\\n' +\n  '     * Monitoring: Observability, logging (ELK stack, Datadog), performance monitoring\\n' +\n  '     * DevOps: Infrastructure as Code (Terraform), monitoring, logging\\n' +\n  '   - For EACH missing keyword: suggest where/how to add it naturally without sounding forced\\n\\n' +\n  '6. Gap Identification - Israeli Market 2026:\\n' +\n  '   - What critical skills/technologies are missing?\\n' +\n  '   - Which gaps are \"must-have\" for the market right now?\\n' +\n  '   - Which are \"nice-to-have\"?\\n' +\n  '   - Priority ranking: What would make the BIGGEST difference?\\n\\n' +\n  '7. Production-Grade Signals:\\n' +\n  '   - Does the CV show evidence of: Scaling systems, Production debugging, Leadership/mentoring, ' +\n  'Documentation and knowledge sharing, Contributing to open source, Performance optimization, Security awareness?\\n\\n' +\n  'Output Format:\\n' +\n  '- Section-by-section analysis with specific recommendations\\n' +\n  '- \"Before/After\" examples for reframing\\n' +\n  '- Numbered priority list of improvements\\n' +\n  '- Estimated impact of each change on marketability\\n\\n' +\n  'Company: ' + jobData.company_name + '\\n' +\n  'Job Title: ' + jobData.job_title + '\\n' +\n  'Job Requirements: ' + jobData.job_requirements + '\\n' +\n  'User Skills: ' + jobData.user_skills;\n\nconst coverLetterPrompt =\n  'You are a seasoned recruiter at a top Israeli tech company (Google, Palo Alto, or similar) ' +\n  'who loves a good authentic story AND respects technical depth. ' +\n  'You\\'ve seen hundreds of cover letters - you know what actually gets attention.\\n\\n' +\n  'Your Task:\\n' +\n  '1. Craft the Story - What\\'s MY unique angle? Why do I care about this specific company/problem?\\n' +\n  '2. Technical Credibility - Include ONE specific technical achievement that PROVES I can deliver\\n' +\n  '3. Company Understanding - Show knowledge of their recent tech decisions, product direction\\n' +\n  '4. Professional Tone - Confident but respectful, show enthusiasm without desperation\\n' +\n  '5. Structure: Hook -> Bridge -> Proof -> Close\\n\\n' +\n  'Output: Complete cover letter draft with annotations explaining strategy for each section.\\n\\n' +\n  'Company: ' + jobData.company_name + '\\n' +\n  'Job Title: ' + jobData.job_title + '\\n' +\n  'Job Requirements: ' + jobData.job_requirements;\n\nconst resume = await callOllama(resumePrompt);\nconst coverLetter = await callOllama(coverLetterPrompt);\n\nconst metadataContent =\n  '# Application: ' + safe(jobData.company_name) + ' - ' + safe(jobData.job_title) + '\\n\\n' +\n  '- Company: ' + safe(jobData.company_name) + '\\n' +\n  '- Title: ' + safe(jobData.job_title) + '\\n' +\n  '- Location: ' + safe(jobData.location) + '\\n' +\n  '- URL: ' + safe(jobData.job_url) + '\\n' +\n  '- Applied: ' + safe(jobData.applied_date) + '\\n' +\n  '- Application ID: ' + safe(jobData.application_id) + '\\n\\n' +\n  '## Job Description\\n' + safe(jobData.job_description) + '\\n\\n' +\n  '## Requirements\\n' + safe(jobData.job_requirements) + '\\n';\n\nconst resumeContent = '# Resume - ' + safe(jobData.job_title) + ' at ' + safe(jobData.company_name) + '\\n\\n' + resume;\nconst coverLetterContent = '# Cover Letter - ' + safe(jobData.company_name) + '\\n\\n' + coverLetter;\n\nreturn [{\n  json: {\n    ...jobData,\n    tier1_status: 'complete',\n    resume_preview: resume.substring(0, 300),\n    metadata_content: metadataContent,\n    resume_content: resumeContent,\n    cover_letter_content: coverLetterContent\n  }\n}];\n"
      }
    },
    {
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-c0d1e2f3a4b5",
      "name": "ATS Keyword Optimization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        100
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const tierData = $input.item.json;\n\n// ATS keyword optimization: scan resume content for critical Israeli tech market keywords\nconst resumeText = (tierData.resume_content || '').toLowerCase();\n\nconst keywordCategories = {\n  'Cloud Platforms': ['aws', 'ec2', 's3', 'lambda', 'rds', 'gcp', 'compute engine', 'cloud run', 'firestore', 'azure'],\n  'Containerization': ['docker', 'kubernetes', 'k8s', 'helm', 'container'],\n  'CI/CD': ['github actions', 'gitlab ci', 'jenkins', 'circleci', 'ci/cd', 'pipeline'],\n  'Architecture': ['microservices', 'distributed', 'scalability', 'load balancing', 'system design', 'rest api', 'graphql'],\n  'Databases': ['sql', 'nosql', 'redis', 'postgresql', 'mongodb', 'elasticsearch', 'database'],\n  'Testing': ['jest', 'vitest', 'cypress', 'playwright', 'unit test', 'integration test', 'e2e', 'test coverage'],\n  'Code Quality': ['typescript', 'eslint', 'solid', 'code review', 'type safety', 'linting'],\n  'Monitoring': ['datadog', 'elk', 'observability', 'logging', 'prometheus', 'grafana', 'monitoring'],\n  'DevOps': ['terraform', 'infrastructure as code', 'iac', 'ansible', 'devops']\n};\n\nconst present = [];\nconst missing = [];\n\nfor (const [category, keywords] of Object.entries(keywordCategories)) {\n  const found = keywords.filter(function(kw) { return resumeText.includes(kw); });\n  const notFound = keywords.filter(function(kw) { return !resumeText.includes(kw); });\n  if (found.length > 0) {\n    present.push('**' + category + '**: ' + found.join(', '));\n  }\n  if (notFound.length > 0) {\n    missing.push('**' + category + '**: ' + notFound.join(', '));\n  }\n}\n\nconst score = Math.round((present.length / (present.length + missing.length)) * 100);\n\nconst atsContent =\n  '# ATS Keyword Analysis - ' + (tierData.company_name || '') + '\\n\\n' +\n  '## ATS Score: ' + score + '%\\n\\n' +\n  '## Keywords Present (' + present.length + ')\\n' +\n  present.map(function(k) { return '- ' + k; }).join('\\n') + '\\n\\n' +\n  '## Missing Keywords (' + missing.length + ') - ADD THESE\\n' +\n  missing.map(function(k) { return '- ' + k; }).join('\\n') + '\\n\\n' +\n  '## Recommendation\\n' +\n  (score < 50 ? 'CRITICAL: Resume needs significant ATS optimization before sending.' :\n   score < 70 ? 'MODERATE: Add missing keywords naturally to improve ATS pass rate.' :\n   'GOOD: Resume has strong ATS keyword coverage. Add remaining keywords where applicable.') + '\\n';\n\nreturn [{\n  json: {\n    ...tierData,\n    ats_score: score,\n    ats_keywords_present: present.length,\n    ats_keywords_missing: missing.length,\n    ats_content: atsContent,\n    resume_content: (tierData.resume_content || '') + '\\n\\n---\\n\\n' + atsContent\n  }\n}];\n"
      }
    },
    {
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-c4d5e6f7a8b9",
      "name": "Tier 2 - Cold Outreach",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const jobData = $input.item.json;\n\nasync function callOllama(prompt) {\n  for (let attempt = 1; attempt <= 3; attempt++) {\n    try {\n      const resp = await $helpers.httpRequest({\n        method: 'POST',\n        url: 'http://ollama:11434/api/generate',\n        headers: { 'Content-Type': 'application/json' },\n        body: { model: 'llama3.2', prompt: prompt, stream: false },\n      });\n      return (resp && resp.response) ? resp.response : '[No response]';\n    } catch (e) {\n      if (attempt === 3) return '[Ollama Error: ' + e.message + ']';\n      await new Promise(r => setTimeout(r, Math.pow(2, attempt) * 1000));\n    }\n  }\n}\n\nconst introEmailPrompt =\n  'You are a successful Israeli engineer/founder reaching out to hiring managers as a peer ' +\n  '(not as a desperate job-seeker, but as someone confident they\\'d be a good fit).\\n\\n' +\n  'Your Task:\\n' +\n  '1. Respect Their Time - Maximum 4-5 sentences, clear value proposition in first 2 sentences\\n' +\n  '2. Personalization - Reference something SPECIFIC about them (tech decision, product feature, talk they gave)\\n' +\n  '   NOT: \"I\\'m impressed with your company\" (too generic)\\n' +\n  '   YES: \"I noticed you migrated to Kubernetes - that\\'s exactly the infrastructure thinking I\\'m passionate about\"\\n' +\n  '3. Credibility in One Sentence - Prove you\\'re not a junior, reference a recent relevant project/skill\\n' +\n  '4. Specific Ask - \"Would you have 15 minutes for a quick chat about [specific topic]?\"\\n' +\n  '5. Easy Out - \"No pressure if timing doesn\\'t work!\" - shows confidence and respect\\n\\n' +\n  'Template: [Personalized reference] [My credibility] [Specific ask] [Easy out]\\n' +\n  'Output: Complete cold email + 2-3 alternative versions + notes on what makes it likely to get a response\\n\\n' +\n  'Company: ' + jobData.company_name + '\\nJob Title: ' + jobData.job_title;\n\nconst followUpPrompt =\n  'Create a follow-up email for ' + jobData.company_name + ' ' + jobData.job_title + ' position. ' +\n  'Show genuine interest, reference previous contact/application. Build on introduction. ' +\n  'Under 100 words. Be professional but personable.';\n\nconst companyResearchPrompt =\n  'Research and provide detailed information about ' + jobData.company_name + '. ' +\n  'Include: industry/sector, recent news and achievements, company size and growth, ' +\n  'key decision-makers if known, company culture indicators, recent funding/partnerships, ' +\n  'growth metrics, hiring trends. Format as comprehensive bullet-point analysis.';\n\nconst personalAnglePrompt =\n  'Identify personal connection angles for contacting ' + jobData.company_name + ' for ' + jobData.job_title + '. ' +\n  'Look for: alumni connections, shared interests or values, industry events, mutual LinkedIn connections, ' +\n  'shared projects or open source, content they\\'ve published, hiring manager information. ' +\n  'Suggest specific outreach strategy for each angle.';\n\nconst introEmail = await callOllama(introEmailPrompt);\nconst followUp = await callOllama(followUpPrompt);\nconst companyResearch = await callOllama(companyResearchPrompt);\nconst personalAngle = await callOllama(personalAnglePrompt);\n\nconst coldEmailContent =\n  '# Cold Outreach - ' + jobData.company_name + '\\n\\n' +\n  '## Introduction Email\\n\\n' + introEmail + '\\n\\n---\\n\\n' +\n  '## Follow-Up Email\\n\\n' + followUp + '\\n';\n\nconst companyResearchContent =\n  '# Company Research - ' + jobData.company_name + '\\n\\n' + companyResearch + '\\n';\n\nconst personalAngleContent =\n  '# Personal Connection Angles - ' + jobData.company_name + '\\n\\n' + personalAngle + '\\n';\n\nreturn [{\n  json: {\n    ...jobData,\n    tier2_status: 'complete',\n    cold_email_content: coldEmailContent,\n    company_research_content: companyResearchContent,\n    personal_angle_content: personalAngleContent\n  }\n}];\n"
      }
    },
    {
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-d5e6f7a8b9c0",
      "name": "Tier 3 - Interview Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        500
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const jobData = $input.item.json;\n\nasync function callOllama(prompt) {\n  for (let attempt = 1; attempt <= 3; attempt++) {\n    try {\n      const resp = await $helpers.httpRequest({\n        method: 'POST',\n        url: 'http://ollama:11434/api/generate',\n        headers: { 'Content-Type': 'application/json' },\n        body: { model: 'llama3.2', prompt: prompt, stream: false },\n      });\n      return (resp && resp.response) ? resp.response : '[No response]';\n    } catch (e) {\n      if (attempt === 3) return '[Ollama Error: ' + e.message + ']';\n      await new Promise(r => setTimeout(r, Math.pow(2, attempt) * 1000));\n    }\n  }\n}\n\nconst skillsGapPrompt =\n  'You are a Senior Technical Hiring Manager from the Israeli high-tech industry ' +\n  '(Google, Palo Alto, SailPoint, Wix, etc.). You\\'re evaluating my profile objectively - no sugar-coating, but constructive.\\n\\n' +\n  'Your Task:\\n' +\n  '1. First Impression Assessment - Am I a \"strong hire\", \"promising with gaps\", or \"needs significant work\"?\\n' +\n  '2. Technical Skills Audit - For EACH major area, assess my level (Beginner/Intermediate/Advanced/Expert):\\n' +\n  '   Backend, Frontend, Databases, Cloud, DevOps/Infrastructure, System Design, Testing, Code Quality\\n' +\n  '3. Critical Gaps for Israeli Market 2026 - MUST-HAVE, SHOULD-HAVE, NICE-TO-HAVE\\n' +\n  '4. Priority Matrix - For top 5 gaps: Quick wins (2-4 weeks), Medium effort (1-3 months), Long-term (3-6 months)\\n' +\n  '5. Competitive Analysis - What percentile? What would make you stand out?\\n' +\n  '6. Actionable Improvement Plan - For EACH gap: what to learn, how to learn it, how to PROVE it, timeline\\n\\n' +\n  'Output: Executive summary, gap-by-gap analysis with priority, top 3 recommendations\\n\\n' +\n  'Job Title: ' + jobData.job_title + '\\nCompany: ' + jobData.company_name + '\\n' +\n  'Requirements: ' + jobData.job_requirements + '\\nUser Skills: ' + jobData.user_skills;\n\nconst interviewQuestionsPrompt =\n  'You are a Senior Engineer conducting technical interviews at a top Israeli company. ' +\n  'You want to assess: technical depth, problem-solving, learning ability, communication, and cultural fit.\\n\\n' +\n  'Your Task:\\n' +\n  '1. System Design Questions (2-3): Generate realistic questions relevant to the specific role. ' +\n  'For EACH: what a good answer looks like, common mistakes, how to show scalability/tradeoffs/monitoring\\n' +\n  '2. Behavioral Questions (2-3): Reveal problem-solving, learning ability, collaboration, handling failure\\n' +\n  '3. Culture Fit & Growth - Questions specific to Israeli tech culture\\n' +\n  '4. Talking Points - What to emphasize about my background, how to frame weaknesses as growth areas\\n' +\n  '5. Questions YOU Should Ask Them (3-4 intelligent questions showing you understand the role)\\n\\n' +\n  'Output: Question + model answer + explanation, \"Why this works\" + \"Common mistakes to avoid\"\\n\\n' +\n  'Job Title: ' + jobData.job_title + '\\nCompany: ' + jobData.company_name + '\\nTech Stack: ' + jobData.tech_stack;\n\nconst talkingPointsPrompt =\n  'You are a career coach and technical mentor helping me prepare talking points for interviews.\\n\\n' +\n  'Your Task:\\n' +\n  '1. For This Specific Role - What are the 3-5 most relevant experiences/skills I should highlight?\\n' +\n  '2. Project Deep-Dives - For my 3 best projects: Problem -> Solution -> Impact\\n' +\n  '3. Addressing Gaps - Where might they ask tough questions? How to frame gaps authentically?\\n' +\n  '4. Company-Specific Talking Points - How do my experiences align with THEIR mission/tech stack?\\n' +\n  '5. Strength Positioning - Top 3 strengths for this role with evidence/metrics\\n\\n' +\n  'Output: Bullet-point talking points, for each: the point + supporting story + how to deliver it naturally\\n\\n' +\n  'Company: ' + jobData.company_name + '\\nJob Title: ' + jobData.job_title;\n\nconst salaryPrompt =\n  'You are a seasoned HR professional + engineer who understands both sides. ' +\n  'You know Israeli market realities and what\\'s negotiable.\\n\\n' +\n  'Your Task:\\n' +\n  '1. Market Research & Benchmarking - salary range for this role + level in Israel (2026)\\n' +\n  '2. My Leverage Assessment - strongest negotiation points, unique skills\\n' +\n  '3. Total Compensation Breakdown - Base, equity/options, bonus, benefits, signing\\n' +\n  '4. Negotiation Scripts: \"What\\'s your expectation?\" / \"Best we can do is X\" / \"Can you start next week?\"\\n' +\n  '5. Red Flags & Warnings - equity worth, benefits, flexibility\\n' +\n  '6. Walk-Away Point - minimum acceptable offer\\n\\n' +\n  'Output: Market salary ranges, leverage assessment, script templates, red flags, total comp comparison\\n\\n' +\n  'Job Title: ' + jobData.job_title + '\\nLocation: ' + jobData.location;\n\nconst skillsGap = await callOllama(skillsGapPrompt);\nconst interviewQuestions = await callOllama(interviewQuestionsPrompt);\nconst talkingPoints = await callOllama(talkingPointsPrompt);\nconst salary = await callOllama(salaryPrompt);\n\nconst interviewPrepContent =\n  '# Interview Preparation - ' + jobData.company_name + ' - ' + jobData.job_title + '\\n\\n' +\n  '## Skills Gap Analysis\\n\\n' + skillsGap + '\\n\\n---\\n\\n' +\n  '## Interview Questions & Answers\\n\\n' + interviewQuestions + '\\n\\n---\\n\\n' +\n  '## Talking Points\\n\\n' + talkingPoints + '\\n\\n---\\n\\n' +\n  '## Salary Guide & Negotiation\\n\\n' + salary + '\\n';\n\nreturn [{\n  json: {\n    ...jobData,\n    tier3_status: 'complete',\n    interview_prep_content: interviewPrepContent\n  }\n}];\n"
      }
    },
    {
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-e6f7a8b9c0d1",
      "name": "Tier 4 - Portfolio Matching",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        700
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const jobData = $input.item.json;\n\nasync function callOllama(prompt) {\n  for (let attempt = 1; attempt <= 3; attempt++) {\n    try {\n      const resp = await $helpers.httpRequest({\n        method: 'POST',\n        url: 'http://ollama:11434/api/generate',\n        headers: { 'Content-Type': 'application/json' },\n        body: { model: 'llama3.2', prompt: prompt, stream: false },\n      });\n      return (resp && resp.response) ? resp.response : '[No response]';\n    } catch (e) {\n      if (attempt === 3) return '[Ollama Error: ' + e.message + ']';\n      await new Promise(r => setTimeout(r, Math.pow(2, attempt) * 1000));\n    }\n  }\n}\n\n// CHANGE #4: Real GitHub API call to fetch actual repos from odeliyach\nlet repoList = '';\nlet repoDetails = '';\ntry {\n  const reposResp = await $helpers.httpRequest({\n    method: 'GET',\n    url: 'https://api.github.com/users/odeliyach/repos?sort=updated&per_page=30&type=public',\n    headers: {\n      'Accept': 'application/vnd.github.v3+json',\n      'User-Agent': 'n8n-job-search-portfolio'\n    }\n  });\n  const repos = Array.isArray(reposResp) ? reposResp : [];\n  repoList = repos.map(function(r) {\n    return r.name + ' (language: ' + (r.language || 'N/A') + ', stars: ' + r.stargazers_count +\n      ', updated: ' + r.updated_at.substring(0, 10) + '): ' + (r.description || 'No description');\n  }).join('\\n');\n  repoDetails = repos.map(function(r) {\n    return '- **' + r.name + '**: ' + (r.description || 'No description') +\n      ' | Language: ' + (r.language || 'N/A') +\n      ' | Stars: ' + r.stargazers_count +\n      ' | Updated: ' + r.updated_at.substring(0, 10) +\n      ' | URL: ' + r.html_url;\n  }).join('\\n');\n} catch (e) {\n  repoList = '[GitHub API Error: ' + e.message + ']';\n  repoDetails = '[Could not fetch repos: ' + e.message + ']';\n}\n\nconst projectSelectionPrompt =\n  'From user\\'s GitHub (username: odeliyach), identify and select the 5 projects most relevant to the job below.\\n\\n' +\n  'ACTUAL GitHub repos from odeliyach (fetched via GitHub API):\\n' + repoList + '\\n\\n' +\n  'Job Title: ' + jobData.job_title + '\\n' +\n  'Company: ' + jobData.company_name + '\\n' +\n  'Job Description: ' + jobData.job_description + '\\n\\n' +\n  'For each selected project explain: why it\\'s relevant, technical skills match, complexity, business impact, ' +\n  'recency, documentation quality. Be specific about the actual repo names listed above.';\n\nconst metricsPrompt =\n  'For the selected GitHub projects from odeliyach, create quantifiable metrics showing impact. ' +\n  'For each project include: performance improvements (%, ms, throughput), user growth metrics, ' +\n  'cost savings, engagement metrics, scalability metrics, code quality metrics. ' +\n  'Use specific numbers and percentages. Base on the actual repos: ' + repoList;\n\nconst projectContextPrompt =\n  'For each selected project from odeliyach\\'s GitHub provide: original objectives/problem solved, ' +\n  'technical challenges faced, specific role and responsibilities, technologies/tools used, ' +\n  'impact achieved, lessons learned. Be detailed and business-focused. ' +\n  'Actual repos to analyze: ' + repoList;\n\nconst githubStrategyPrompt =\n  'Provide strategies to improve GitHub visibility for odeliyach\\'s projects to attract ' + jobData.company_name + ' attention. ' +\n  'Include: README improvements, demo links/videos, contribution stats highlighting, deployment links, ' +\n  'relevant badges, documentation enhancement, community engagement, GitHub profile optimization. ' +\n  'Focus on these actual repos: ' + repoList;\n\nconst projectSelection = await callOllama(projectSelectionPrompt);\nconst metrics = await callOllama(metricsPrompt);\nconst projectContext = await callOllama(projectContextPrompt);\nconst githubStrategy = await callOllama(githubStrategyPrompt);\n\nconst portfolioContent =\n  '# Portfolio Matching - ' + jobData.company_name + ' - ' + jobData.job_title + '\\n\\n' +\n  '## GitHub Repositories (odeliyach - fetched ' + new Date().toISOString().substring(0, 10) + ')\\n\\n' +\n  repoDetails + '\\n\\n---\\n\\n' +\n  '## Project Selection (Most Relevant to Role)\\n\\n' + projectSelection + '\\n\\n---\\n\\n' +\n  '## Project Metrics\\n\\n' + metrics + '\\n\\n---\\n\\n' +\n  '## Project Context\\n\\n' + projectContext + '\\n\\n---\\n\\n' +\n  '## GitHub Visibility Strategy\\n\\n' + githubStrategy + '\\n';\n\nreturn [{\n  json: {\n    ...jobData,\n    tier4_status: 'complete',\n    portfolio_content: portfolioContent,\n    github_repos_fetched: repoList.substring(0, 500)\n  }\n}];\n"
      }
    },
    {
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-f7a8b9c0d1e2",
      "name": "Tier 5 - Database & Tracking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        900
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const jobData = $input.item.json;\n\nconst now = new Date();\nconst fu1Date = new Date(now.getTime() + 3 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\nconst fu2Date = new Date(now.getTime() + 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\nconst fu3Date = new Date(now.getTime() + 30 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\nconst fu4Date = new Date(now.getTime() + 90 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\n\nconst trackingContent =\n  '# Application Tracking: ' + jobData.company_name + ' - ' + jobData.job_title + '\\n\\n' +\n  '## Status\\n' +\n  '- **Current Status:** Active\\n' +\n  '- **Applied:** ' + jobData.applied_date + '\\n' +\n  '- **Application ID:** ' + jobData.application_id + '\\n' +\n  '- **Location:** ' + jobData.location + '\\n' +\n  '- **Job URL:** ' + jobData.job_url + '\\n\\n' +\n  '## Follow-Up Schedule\\n' +\n  '- [ ] Day 3 check-in: ' + fu1Date + '\\n' +\n  '- [ ] Day 7 follow-up: ' + fu2Date + '\\n' +\n  '- [ ] Day 30 check-in: ' + fu3Date + '\\n' +\n  '- [ ] 90-day check-in: ' + fu4Date + '\\n\\n' +\n  '## Interview Stages\\n' +\n  '- [ ] Phone Screen\\n' +\n  '- [ ] Technical Interview\\n' +\n  '- [ ] Final Round\\n\\n' +\n  '## Notes\\n' +\n  '_Add notes after each interaction_\\n\\n' +\n  '## Contacts\\n' +\n  '- Recruiter: \\n' +\n  '- Hiring Manager: \\n' +\n  '- Referral: \\n';\n\nconst analyticsContent =\n  '# Analytics Update - ' + jobData.applied_date + '\\n\\n' +\n  '## New Application\\n' +\n  '- Company: ' + jobData.company_name + '\\n' +\n  '- Role: ' + jobData.job_title + '\\n' +\n  '- Location: ' + jobData.location + '\\n' +\n  '- Date: ' + jobData.applied_date + '\\n' +\n  '- Method: Direct Application\\n' +\n  '- Status: Active\\n';\n\nreturn [{\n  json: {\n    ...jobData,\n    tier5_status: 'complete',\n    tracking_content: trackingContent,\n    analytics_content: analyticsContent,\n    followup_day3: fu1Date,\n    followup_day7: fu2Date,\n    followup_day30: fu3Date,\n    followup_day90: fu4Date\n  }\n}];\n"
      }
    },
    {
      "id": "f2a3b4c5-d6e7-4f8a-9b0c-d1e2f3a4b5c6",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1700,
        500
      ],
      "parameters": {
        "mode": "append",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      }
    },
    {
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-a8b9c0d1e2f3",
      "name": "Git Commit - job-search-data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        500
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// CHANGE #1: Fixed token access - process.env instead of $env\nconst githubToken = process.env.GITHUB_TOKEN || '';\n\n// Collect all tier data from all parallel branches (Merge Results node)\nconst allItems = $input.all();\nlet jobData = {};\nfor (const item of allItems) {\n  jobData = Object.assign({}, jobData, item.json);\n}\n\nif (!githubToken) {\n  console.log('Warning: GITHUB_TOKEN not set, skipping git commit');\n  return [{ json: Object.assign({}, jobData, { git_status: 'skipped' }) }];\n}\n\nconst owner = 'odeliyach';\nconst repo = 'job-search-data';\nconst apiBase = 'https://api.github.com';\nconst headers = {\n  'Authorization': 'token ' + githubToken,\n  'Accept': 'application/vnd.github.v3+json',\n  'Content-Type': 'application/json'\n};\n\nasync function apiRequest(method, path, body) {\n  return await $helpers.httpRequest({\n    method: method,\n    url: apiBase + path,\n    headers: headers,\n    body: body,\n  });\n}\n\n// Auto-create folder structure based on application status\nconst statusFolder = 'Active';\nconst vaultBase = 'Obsidian_Vault/' + statusFolder + '/' + jobData.year + '/' + jobData.month + '/' + jobData.folder_name;\nconst legacyBase = jobData.year + '/' + jobData.month + '/' + jobData.folder_name;\n\ntry {\n  const refData = await apiRequest('GET', '/repos/' + owner + '/' + repo + '/git/refs/heads/main');\n  const currentSha = refData.object.sha;\n  const commitData = await apiRequest('GET', '/repos/' + owner + '/' + repo + '/git/commits/' + currentSha);\n  const treeSha = commitData.tree.sha;\n\n  const filesToCommit = [];\n\n  const contentMap = {\n    'metadata.md': jobData.metadata_content,\n    'resume.md': jobData.resume_content,\n    'cover_letter.md': jobData.cover_letter_content,\n    'cold_email.md': jobData.cold_email_content,\n    'company_research.md': jobData.company_research_content,\n    'personal_angle.md': jobData.personal_angle_content,\n    'interview_prep.md': jobData.interview_prep_content,\n    'portfolio_matching.md': jobData.portfolio_content,\n    'tracking.md': jobData.tracking_content,\n    'ats_optimization.md': jobData.ats_content\n  };\n\n  // Create each blob once, then add to both Obsidian_Vault and legacy paths\n  for (const [fileName, content] of Object.entries(contentMap)) {\n    if (!content) continue;\n    try {\n      const blobData = await apiRequest('POST', '/repos/' + owner + '/' + repo + '/git/blobs', {\n        content: Buffer.from(content).toString('base64'),\n        encoding: 'base64'\n      });\n      const blobSha = blobData.sha;\n      // Obsidian_Vault path (for Obsidian Git plugin sync)\n      filesToCommit.push({ path: vaultBase + '/' + fileName, mode: '100644', type: 'blob', sha: blobSha });\n      // Legacy path (backwards compatibility)\n      filesToCommit.push({ path: legacyBase + '/' + fileName, mode: '100644', type: 'blob', sha: blobSha });\n    } catch (e) {\n      console.error('Error processing file ' + fileName + ': ' + e.message);\n    }\n  }\n\n  if (jobData.analytics_content) {\n    try {\n      const blobData = await apiRequest('POST', '/repos/' + owner + '/' + repo + '/git/blobs', {\n        content: Buffer.from(jobData.analytics_content).toString('base64'),\n        encoding: 'base64'\n      });\n      filesToCommit.push({ path: 'analytics.md', mode: '100644', type: 'blob', sha: blobData.sha });\n    } catch (e) {\n      console.error('Error processing analytics.md: ' + e.message);\n    }\n  }\n\n  if (filesToCommit.length === 0) {\n    return [{ json: Object.assign({}, jobData, { git_status: 'skipped', git_note: 'No content to commit' }) }];\n  }\n\n  const newTreeData = await apiRequest('POST', '/repos/' + owner + '/' + repo + '/git/trees', {\n    base_tree: treeSha,\n    tree: filesToCommit\n  });\n\n  const commitMessage = 'Job application: ' + jobData.company_name + ' - ' + jobData.job_title + ' - ' + jobData.applied_date;\n  const newCommitData = await apiRequest('POST', '/repos/' + owner + '/' + repo + '/git/commits', {\n    message: commitMessage,\n    tree: newTreeData.sha,\n    parents: [currentSha],\n    author: {\n      name: 'Odeliya Charitonova',\n      email: 'odaliya12@gmail.com',\n      date: new Date().toISOString()\n    }\n  });\n\n  await apiRequest('PATCH', '/repos/' + owner + '/' + repo + '/git/refs/heads/main', {\n    sha: newCommitData.sha,\n    force: false\n  });\n\n  return [{ json: Object.assign({}, jobData, { git_status: 'success', commit_sha: newCommitData.sha, vault_path: vaultBase }) }];\n\n} catch (e) {\n  console.error('Git commit failed: ' + e.message);\n  return [{ json: Object.assign({}, jobData, { git_status: 'error', git_error: e.message }) }];\n}\n"
      }
    },
    {
      "id": "a3b4c5d6-e7f8-4a9b-0c1d-e2f3a4b5c6d7",
      "name": "Notify for Approval",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2300,
        500
      ],
      "parameters": {
        "fromEmail": "odeliya.charitonova.dev@gmail.com",
        "toEmail": "odeliya.charitonova.dev@gmail.com",
        "subject": "=ACTION REQUIRED: Review Job Application - {{ $json.company_name }} - {{ $json.job_title }}",
        "emailFormat": "html",
        "html": "=<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <h2 style=\"color: #007bff;\">&#128338; Job Application Ready for Review</h2>\n  <p>Your job application has been prepared and saved. Please review before sending.</p>\n  <hr/>\n  <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n    <tr><td style=\"padding: 8px; font-weight: bold; width: 140px;\">Company:</td><td style=\"padding: 8px;\">{{ $json.company_name }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Position:</td><td style=\"padding: 8px;\">{{ $json.job_title }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Location:</td><td style=\"padding: 8px;\">{{ $json.location }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Applied:</td><td style=\"padding: 8px;\">{{ $json.applied_date }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">ATS Score:</td><td style=\"padding: 8px;\">{{ $json.ats_score }}%</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Git Status:</td><td style=\"padding: 8px;\">{{ $json.git_status }}</td></tr>\n  </table>\n  <p style=\"background: #fff3cd; padding: 15px; border-radius: 5px; border-left: 4px solid #ffc107;\">\n    <strong>&#9888; Action Required:</strong> Review the generated materials in your Obsidian vault, then click the Approve button below to confirm sending.\n  </p>\n  <p style=\"margin-top: 20px;\">\n    <a href=\"{{ $execution.resumeUrl }}\" style=\"background: #28a745; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold;\">\n      &#10003; APPROVE &amp; SEND\n    </a>\n  </p>\n  <p style=\"color: #6c757d; font-size: 0.9em; margin-top: 20px;\">\n    Application ID: {{ $json.application_id }} | Vault: {{ $json.vault_path }}<br/>\n    Note: Click APPROVE only after reviewing files in your Obsidian vault.\n  </p>\n</body>\n</html>",
        "options": {}
      }
    },
    {
      "id": "b4c5d6e7-f8a9-4b0c-1d2e-f3a4b5c6d7e8",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2600,
        500
      ],
      "parameters": {
        "resume": "webhook"
      },
      "webhookId": "job-approval-webhook"
    },
    {
      "id": "d0e1f2a3-b4c5-4d6e-7f8a-b9c0d1e2f3a4",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2900,
        500
      ],
      "parameters": {
        "fromEmail": "odeliya.charitonova.dev@gmail.com",
        "toEmail": "odeliya.charitonova.dev@gmail.com",
        "subject": "=Job Application Complete: {{ $json.company_name }} - {{ $json.job_title }}",
        "emailFormat": "html",
        "html": "=<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <h2 style=\"color: #28a745;\">&#10003; Application Status: Complete</h2>\n  <hr/>\n  <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n    <tr><td style=\"padding: 8px; font-weight: bold; width: 140px;\">Company:</td><td style=\"padding: 8px;\">{{ $json.company_name }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Position:</td><td style=\"padding: 8px;\">{{ $json.job_title }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Location:</td><td style=\"padding: 8px;\">{{ $json.location }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Applied:</td><td style=\"padding: 8px;\">{{ $json.applied_date }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">ATS Score:</td><td style=\"padding: 8px;\">{{ $json.ats_score }}%</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Git Status:</td><td style=\"padding: 8px;\">{{ $json.git_status }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Commit SHA:</td><td style=\"padding: 8px;\">{{ $json.commit_sha }}</td></tr>\n  </table>\n  <h3>Tier Completion Status</h3>\n  <ul>\n    <li>Tier 1 (Core Application): {{ $json.tier1_status }}</li>\n    <li>Tier 2 (Cold Outreach): {{ $json.tier2_status }}</li>\n    <li>Tier 3 (Interview Prep): {{ $json.tier3_status }}</li>\n    <li>Tier 4 (Portfolio Matching): {{ $json.tier4_status }}</li>\n    <li>Tier 5 (Tracking): {{ $json.tier5_status }}</li>\n  </ul>\n  <h3>Follow-Up Schedule</h3>\n  <ul>\n    <li>Day 3: {{ $json.followup_day3 }}</li>\n    <li>Day 7: {{ $json.followup_day7 }}</li>\n    <li>Day 30: {{ $json.followup_day30 }}</li>\n    <li>Day 90: {{ $json.followup_day90 }}</li>\n  </ul>\n  <p style=\"background: #d4edda; padding: 15px; border-radius: 5px; border-left: 4px solid #28a745;\">\n    Files saved to Obsidian Vault: {{ $json.vault_path }}<br/>\n    Auto-sync to C:\\Users\\odali\\Obsidian\\Job_Search_Test via Obsidian Git plugin (every 10 min)\n  </p>\n</body>\n</html>",
        "options": {}
      }
    }
  ],
  "connections": {
    "Start Job Application": {
      "main": [
        [
          {
            "node": "Set Job Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Details": {
      "main": [
        [
          {
            "node": "Parse Job Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Info": {
      "main": [
        [
          {
            "node": "Tier 1 - Core Application",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tier 2 - Cold Outreach",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tier 3 - Interview Prep",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tier 4 - Portfolio Matching",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tier 5 - Database & Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 1 - Core Application": {
      "main": [
        [
          {
            "node": "ATS Keyword Optimization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATS Keyword Optimization": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 2 - Cold Outreach": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tier 3 - Interview Prep": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Tier 4 - Portfolio Matching": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Tier 5 - Database & Tracking": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Git Commit - job-search-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Commit - job-search-data": {
      "main": [
        [
          {
            "node": "Notify for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify for Approval": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}